.footer {
   background-color: $blue;
}

.footer__wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 20px;
}

.footer__name {
   font-size: 21px;
   line-height: 25px;
   font-weight: 500;
   color: $white;
   padding-bottom: 15px;
}

.footer__text {
   font-size: 13px;
   line-height: 21px;
   color: $white;
}